{% extends "base.html.twig" %}

{% block title %}Cool{% endblock %}

{% block body %}
    {% for id, post in posts %}
        <a href="{{ path('blog_show', {'id': id}) }}"><p>ID {{ id }}<p></a>
        <h3>{{ post.title }}</h3>
        <p>{{ post.text}}</p>
    {% endfor %}
{% endblock %}